[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curttimson/hugo-theme-massively
[submodule "static/asteroids"]
	path = static/asteroids
	url = https://github.com/spurkis/asteroids
